extends ../layout/admin


block contents
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= page

        a(href="/propiedades/crear" class="shadow rounded py-2 px-10 bg-indigo-600 hover:bg-indigo-700 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Publicar Propiedades

        //- Snipet para pasar información del controlador a la vista
        //- pre= JSON.stringify(owns, undefined, 2)

        if owns.length 
            .bg-white.shadow.rounded-lg
                ul.divide-y.divide-gray-200
                    each own in owns
                        li
                            div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 md:space-y-0 gap-4")
                                div(class="sm:w-1/4 md:w-1/6")
                                    img(src=`uploads/${own.imagen}` alt=`Imagen propiedad ${own.title}`)
                                div(class="sm:w-2/4 md:w-3/6 lg:w-4/6 space-y-3")
                                    a(class="block text-2xl font-extrabold text-indigo-600 truncate" href=`/propiedad/${own.id}`)=own.title

                                    p(class="text-sm text-black font-bold")= own.category.nombre

                                    p(class="text-sm text-green-800 font-bold flex items-center")
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5")
                                            path(d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 01-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004zM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 01-.921.42z")
                                            path(fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v.816a3.836 3.836 0 00-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 01-.921-.421l-.879-.66a.75.75 0 00-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 001.5 0v-.81a4.124 4.124 0 001.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 00-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 00.933-1.175l-.415-.33a3.836 3.836 0 00-1.719-.755V6z" clip-rule="evenodd")
                                        = own.price.nombre

                                div(class="sm:w-1/4 md:w-2/6 lg:w-1/6 flex flex-col gap-2")
                                    form(action="")
                                        input(type="submit" class=`w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer shadow ${own.publicado ? 'bg-green-100 hover:bg-green-200 text-green-800' : 'bg-yellow-100 hover:bg-yellow-200 text-yellow-800'}` value=`${own.publicado ? 'Publicado' : 'No Publicado'}`)

                                    a(href=`/propiedades/editar/${own.id}` class="text-center px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer shadow bg-indigo-100 hover:bg-indigo-200 text-indigo-800") Editar

                                    form(method="POST" action=`/propiedades/eliminar/${own.id}`)
                                        input(type="submit" class="w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer shadow bg-red-100 hover:bg-red-200 text-red-800" value="Eliminar")


                div(class="bg-whit px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6")
                    div(class="flex-1 flex justify-between sm:hidden")
                        a(href=`/mis-propiedades?pagina=${paginaNow - 1}` class=`${paginaNow == 1 ? 'bg-gray-300 pointer-events-none' : 'hover:bg-gray-50 shadow'} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white`) Anterior
                        a(href=`/mis-propiedades?pagina=${paginaNow + 1}` class=`${paginaNow == pages ? 'bg-gray-300 pointer-events-none' : 'hover:bg-gray-50 shadow'} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white`) Siguiente
                        
                    div(class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between")
                        p(class="text-sm text-gray-700 gap-2") Mostrando 
                            span(class="font-medium") #{offset + 1} a 
                            span(class="font-medium") #{total < limit + offset ? total : limit + offset} de 
                            span(class="font-medium") #{total} resultados
                    div(class="hidden sm:block")
                        nav(class="relative z-0 inline-flex rounded-md shadow-md")
                            - var n = 1;
                                while n <= pages
                                    a(href=`/mis-propiedades?pagina=${n}` class=`${paginaNow == n ? 'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-4 border text-sm font-medium`) #{n++}
        else
            p.text-center No hay Propiedades