extends ../layout/admin

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contents
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= page

        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form.space-y-8(method="POST")

                .max-w-md.mx-auto.my-10
                    if errors
                        each error in errors
                            p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

                .space-y-5
                    h3.text-lg.leading-6.font-medium.text-gray-900 Información General 
                    p.text-gray-600 Añade Información sobre la propiedad en venta

                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="title") Título de Anuncio
                        input#title.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Título Propiedad, ej. Casa en la Playa" type="text" name="title" value= data.title ? data.title : '')

                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="description") Descripción
                        textarea#description.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Descripción de la Propiedad, ej. Es una Casa en la Playa, con vistas al mar..." name="description")= data.description ? data.description : ''

                    div(class="md:flex md:gap-4 .space-y-5 md:space-y-0")
                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="category") Categoría
                            select#category.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="category")
                                option(value="") - Seleccione -
                                each category in categories
                                    option(value=category.id selected=data.categoryId || data.category ? data.categoryId == category.id || data.category == category.id ? true : false : null)= category.nombre

                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="price") Precio
                            select#price.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="price")
                                option(value="") - Seleccione -
                                each price in prices
                                    option(value=price.id selected=data.price || data.priceId ? data.price == price.id || price.id || data.price ? true : false : null)= price.nombre

                    div(class="md:flex md:gap-4 .space-y-5 md:space-y-0")
                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="bedrooms") Habitaciones
                            select#bedrooms.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="bedrooms")
                                option(value="") - Seleccione -
                                - var n = 1;
                                    while n < 5
                                        option(value=n selected=data.bedrooms ? data.bedrooms == n ? true : false : null) #{n++}
                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="rooms") Estancias
                            select#rooms.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="rooms")
                                option(value="") - Seleccione -
                                - var n = 1;
                                    while n < 5
                                        option(value=n selected=data.rooms ? data.rooms == n ? true : false : null) #{n++}
                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="bathrooms") Baños
                            select#bathrooms.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="bathrooms")
                                option(value="") - Seleccione -
                                - var n = 1;
                                    while n < 5
                                        option(value=n selected=data.bathrooms ? data.bathrooms == n ? true : false : null) #{n++}

                    .border-gray-200.border-t.py-5.space-y-5
                        h3.text-lg.leading-6.font-medium.text-gray-900 Ubicación
                        p.text-gray-600 Ubica la propiedad en el mapa
                        #mapa.h-96


                        div 
                            p.calle= data.calle ? data.calle : ''

                            input(type="hidden" name="calle" id="calle" value= data.calle ? data.calle : '')
                            input(type="hidden" name="lat" id="lat" value= data.lat ? data.lat : '')
                            input(type="hidden" name="lng" id="lng" value= data.lng ? data.lng : '')

                    input(class="w-full py-3 bg-indigo-600 hover:bg-indigo-700 rounded text-white font-bold uppercase cursor-pointer" type="submit" value="Añadir Imagen")




block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js")
    script(src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js")
    script(src="/js/mapa.js")

    