extends ../layout/app

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contents

    //- pre= JSON.stringify(own, undefined, 2)

    .py-5
        h1(class="text-4xl my-10 font-extrabold text-center" id="title")= own.title

        div
            a(href="#" class="font-bold text-gray-600 text-sm") Categoria:
                span(class="font-normal")= own.category.nombre

        div(class="mt-5 md:flex md:gap-4")
            div(class="md:w-2/3 bg-white shadow rounded-lg")
                img(src=`/uploads/${own.imagen}` alt=`propiedad ${own.title}`)

                div(class="px-5 py-10 space-y-5")
                    p= own.description

                    h2(class="text-2xl leading-6 font-bold text-gray-900") Información Propiedad

                    div(class="grid grid-cols-1 md:grid-cols-2")
                        p(class="text-gray-600 font-bold text-xs") BAÑOS
                            span(class="text-gray-800 block text-lg")= own.bathrooms

                        p(class="text-gray-600 font-bold text-xs") Habitaciones
                            span(class="text-gray-800 block text-lg")= own.bedrooms

                        p(class="text-gray-600 font-bold text-xs") Estancias
                            span(class="text-gray-800 block text-lg")= own.rooms

                        p(class="text-gray-600 font-bold text-xs") Precio
                            span(class="text-gray-800 block text-lg")= own.price.nombre

            div(class="md:w-1/3")
                h3(class="text-center py-10 leading-6 text-2xl font-bold text-gray-900") Ubicación

                div(class="h-96" id="mapa")
                    p(class="hidden" id="lat")= own.lat
                    p(class="hidden" id="lng")= own.lng

                div(class="p-5")
                    p(class="text-gray-600 font-bold text-xl")= Dirección
                        span(class="text-gray-800 block text-lg" id="calle")= own.calle

block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="/js/viewmap.js")