extends layout/app

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contents
    div(class="py-5")
        h1(class="text-center text-4xl font-extrabold") Ubicación en el Mapa

        div(class="flex flex-col md:flex-row items-center py-10 gap-4")
            h2(class="text-sm uppercase text-gray-800 font-bold") Filtrar Propiedades: 
            
            div(class="w-full md:w-auto flex items-center gap-2")
                label(for="categorias" class="text-sm w-24 uppercase text-gray-500 font-bold") Categorías
                select(id="categorias" class="flex-1 bg-white w-full px-3 py-2 border border-gray-300 rounded-md shadow")
                    option(value="") - Seleccina -
                    each categori in categories
                        option(value=categori.id)= categori.nombre

            div(class="w-full md:w-auto flex items-center gap-2")
                label(for="precios" class="text-sm w-24 uppercase text-gray-500 font-bold") Precios
                select(id="precios" class="flex-1 bg-white w-full px-3 py-2 border border-gray-300 rounded-md shadow")
                    option(value="") - Seleccina -
                    each price in prices
                        option(value=price.id)= price.nombre


        div(id="map-home" class="h-[600px] mt-5")

        section(class="py-5")
            h2(class="text-center text-4xl font-extrabold pt-10") Casa en Venta 

            //- pre= JSON.stringify(casas)
block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="/js/maphome.js")