header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Bienes
            span.font-normal Raices

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="/auth/register") Crear Cuenta
            a(href="/auth/login") Iniciar Sesión

div(class="bg-indigo-700 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        a(href="/categoria/1" class="text-sm font-bold uppercase text-white") Casas
        a(href="/categoria/2" class="text-sm font-bold uppercase text-white") Departamentos
        a(href="/categoria/3" class="text-sm font-bold uppercase text-white") Bodegas
        a(href="/categoria/4" class="text-sm font-bold uppercase text-white") Terrenos
        a(href="/categoria/5" class="text-sm font-bold uppercase text-white") Cabañas